@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root,
.light-mode {
    --primary-color: #F6F8FF;
    --secondary-color: #4B6A9B;
    --tertiary-color: #FFFFFF;
    --bg-button: #0079FF;
    --bg-stats: #F6F8FF;
    --color-login: #3765A8;
    --bg-input: #FFFFFF;
    --bg-stats-text: #2B3442;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    font-style: normal;
}

h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0;
}

h2#user-name {
    font-weight: bold;
    font-size: 26px;
    line-height: 120%;
}

#user-date {
    font-size: 15px;
    line-height: 150%;
    color: var(--secondary-color);
}

#user-login {
    display: inline-block;
    margin: 0.5rem 0 1rem;
    font-size: 16px;
    line-height: 150%;
    color: var(--bg-button);
}

#mode-text {
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 2.5px;
}


#user-bio {
    font-size: 15px;
    line-height: 150%;
    color: var(--secondary-color);
}

.mode {
    align-items: center;
    gap: 5px;
}

/* general styles */

.flex {
    display: flex;
}

body {
    display: grid;
    place-items: center;
    height: 100dvh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

body:not(.dark-mode) div.search-container {
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.19);
}

.main-container {
    margin: 0 auto;
    width: 45.625rem;
}


section.container>div {
    margin-top: 2rem;
    background-color: var(--bg-input);
}

header {
    display: flex;
    justify-content: space-between;
}

.user-info-container {
    gap: 2rem;
    padding: 2.5rem;
    border-radius: 0.5rem;
    width: 100%;

    & img#user-avatar {
        width: 7.313rem;
        height: 7.313rem;
        border-radius: 50%;
    }

    & div.contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        & div {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    & div.user {
        align-items: center;
        justify-content: space-between;
    }

    & div.m-l {
        margin-left: 150px;
    }

}

div.search-container {
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--bg-input);

    & input.search-input {
        background-color: transparent;
        border: none;
        height: 37px;
        flex: 1;
        outline: none;

        &::placeholder-shown {
            font-family: "Space Mono", monospace;
            font-size: 18px;
            line-height: 140%;
            color: var(--secondary-color);
        }


    }

    & button.search-button {
        padding: 0.7rem 1rem;
        border-radius: 0.5rem;
        border: none;
        background-color: var(--bg-button);
        color: var(--tertiary-color);
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        line-height: 150%;


    }
}

.user-div {
    flex: 1;
    justify-content: space-between;
}

div.repos-stats {
    background-color: var(--bg-stats);
    padding: 1em;
    border-radius: .5rem;
    width: 100%;
    text-align: left;
    margin: 2rem 0;

    & div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;

        & span.header {
            font-size: 13px;
            line-height: 150%;
            color: var(--secondary-color);
            font-weight: 400;
        }

        & span.stats {
            font-weight: bold;
            font-size: 22px;
            line-height: auto;
            color: var(--bg-stats-text);
        }
    }




}

.container-location {
    font-size: 15px;
    line-height: 150%;
    color: var(--secondary-color);
}

@media(max-width: 768px) {
    #user-avatar {
        width: 4.375rem !important;
        height: 4.375rem !important;
    }

    .main-container {
        width: 90%;
    }

    .user-div {
        flex-direction: column;
    }

    #user-bio {
        margin-top: 32px;
    }

    #user-login {
        margin: 0;
    }

    div.m-l {
        margin-left: 0 !important;
    }

    div.contact-info {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    input.search-input:placeholder-shown {
        font-size: 0.8rem;
    }
}